<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product | My E-Commerce</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Edit Product</h1>
        <form method="POST">
            <input type="text" name="name" value="{{ product['name'] }}" required><br>
            <input type="number" name="price" step="0.01" value="{{ product['price'] }}" required><br>
            <textarea name="desc" required>{{ product['desc'] }}</textarea><br>
            <button type="submit">Update Product</button>
        </form>
    </div>

</body>
</html>
